@tailwind base;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;

    --font-sans: "sans-serif";
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-screen;
  }

  .section-title {
    @apply flex flex-col;
  }

  .section-title h1 {
    @apply text-lg font-semibold md:text-2xl;
  }

  .section-title h2 {
    @apply text-base md:text-lg;
  }

  .edit-card-container {
    @apply grid lg:grid-cols-2 gap-5 mt-5;
  }

  .edit-card-container:has(.side-cards) {
    @apply lg:grid-cols-3;
  }

  .edit-card-container .main-cards {
    @apply lg:col-span-2;
  }

  .main-cards {
    @apply grid gap-5;
  }

  .side-cards {
    @apply grid gap-5;
  }

  .save-title {
    @apply flex justify-end mb-5;
  }

  .data-table {
    @apply rounded-lg border overflow-hidden;
  }

  .no-data-cell {
    @apply text-center opacity-60 py-10;
  }
}
