@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans min-h-screen bg-[#F7F5F2] dark:bg-[#060608] dark:text-gray-100;
}

.lock {
	@apply overflow-hidden;
}

.main-container {
	background-image: radial-gradient(rgb(0 0 0 / 0.02) 30%, transparent 30%);
	background-size: 10px 10px;
}

html.dark .main-container {
	background-image: radial-gradient(rgb(255 255 255/ 0.1) 30%, transparent 30%);
}

.snap-x {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.snap-x::-webkit-scrollbar {
	display: none;
}

.iconed-span {
	@apply font-bold text-sm capitalize flex items-center gap-1;
}
