@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  li > p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
